.home {
  padding: 2rem;
  text-align: center;
}

.home h1 {
  font-size: 2rem;
  color: #00ffcc;
}

.home h2 {
  font-size: 1.5rem;
  color: #90ee90;
}

.home p {
  margin: 1rem 0;
  font-size: 1rem;
  color: #ccc;
}

.download-btn {
  padding: 0.6rem 1.2rem;
  background: linear-gradient(to right, #00c853, #ff9800);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  display: inline-block;
}

.profile-pic {
  margin-top: 2rem;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 20px green;
}
