.projects {
  padding: 2rem;
  background: #000;
  color: #fff;
}

.projects h2 {
  text-align: center;
  color: #81d4fa;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.project {
  background-color: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
}
