.services {
  padding: 2rem;
  background-color: #ffffff;
  color: #fff;
}

.services h2 {
  text-align: center;
  color: #fbc618;
}

.services-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.service-card {
  background: #a6c627;
  background: linear-gradient(90deg,#accf21 0%,  rgb(224, 240, 133) 98%);
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
